<h1> <%= @task_list.name%> </h1>

<h2>Tasks</h2>

<%= render 'tasks/form',  task: @new_task %>

<ul>
  <% @task_list.tasks.each do |task| %>
    <li>
      <div>
        <%= check_box_tag(task.title) %>
        <%= label_tag(task.title, task.title) %>
        <%= button_to "Delete", task_list_task_delete_path(@task_list, task.id), method: :delete, data: {turbo_confirm: "Are you sure?"}%>      
      </div>
    </li>
  <% end %>
</ul>